body {
    background-size: 1920px 1080px;
    background-repeat: no-repeat padding: 0;
    margin: 0;
    background-image: url("/content/images/backgroundimage.png");
    margin: 0;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    height: 100%;
    margin: 0;
}


#minilogo {
    float: left;
    z-index: 1;
}

#myNavbar {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.navbar {
    margin-left: 100px;
}

.navbar-toggle {
    outline-color: #ffffff;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    font-weight: bold;
    color: #ffffff;
}

.nav > li > a:hover {
    background-color: transparent;
}

#name {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    margin: auto;
    width: 665px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 250px;
    text-shadow: 2px 2px 4px #525354;
    text-transform: uppercase;
    text-transform: full-width;
}

#portfoliobutton {
    width: 178px;
    height: 35px;
    margin: auto;
}

#textAnimation {
    width: 510px;
    margin:auto;
    margin-bottom: 10px;
}

svg.intro {
    background-color: transparent;
    height: 35px;
    width: 510px;
}

svg.intro .text {
    display: none;
}

svg.intro.go .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: block;
    text-transform: uppercase;
}

svg.intro.go .text-stroke {
    fill: none;
    stroke: #efefef;
    stroke-width: 2.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    -webkit-animation: dash 2.5s ease-in-out forwards;
    animation: dash 2.5s ease-in-out forwards;
}

svg.intro.go .text-stroke:nth-child(2) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

svg.intro.go .text-stroke:nth-child(3) {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}

svg.intro.go .text-stroke-2 {
    stroke: #525354;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

svg.intro.go .text-stroke:nth-child(5) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

svg.intro.go .text-stroke:nth-child(6) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

@-webkit-keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
}

@media all and (max-width: 480px) {
    #name { 
        width: 480px;
        font-size: 24px;
    }

    #textAnimation {
        width: 320px;
    }

    svg.intro {
        width: 480px;
    }

    svg.intro.go .text {
        font-size: 16px;
    }
}
