
.logo {
    margin:inherit;
    width: 250px;
    position:absolute;
    right: 1080px;
    top: 90px;

   
}
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: white;
}

html {
    height: 100%;
    margin: 0;
}
body {
    
    margin: 0;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo {
    top: 35%;
    margin: auto;
}

#navbar {
    background-color: white;
    
}
   

#content {
    margin: auto;
    width: 960px;
    opacity: .95;
    top: 80%;
    background-color: blue;
    font-family: 'Arial';
}



body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: white;
}

svg.intro {
    background-color: white;
    max-width: 700px;
    position: absolute;
    top: 29%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 30px 50px -20px #2e0642;
}

    svg.intro .text {
        display: none;
    }

    svg.intro.go .text {
        font-family: Arial, sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        display: block;
    }

    svg.intro.go .text-stroke {
        fill: none;
        stroke: #6e6878;
        stroke-width: 2.8px;
        stroke-dashoffset: -900;
        stroke-dasharray: 900;
        stroke-linecap: butt;
        stroke-linejoin: round;
        -webkit-animation: dash 2.5s ease-in-out forwards;
        animation: dash 2.5s ease-in-out forwards;
    }

        svg.intro.go .text-stroke:nth-child(2) {
            -webkit-animation-delay: .3s;
            animation-delay: .3s;
        }

        svg.intro.go .text-stroke:nth-child(3) {
            -webkit-animation-delay: .9s;
            animation-delay: .9s;
        }

    svg.intro.go .text-stroke-2 {
        stroke: #6000ff;
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
    }

    svg.intro.go .text-stroke:nth-child(5) {
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }

    svg.intro.go .text-stroke:nth-child(6) {
        -webkit-animation-delay: 1.8s;
        animation-delay: 1.8s;
    }

@-webkit-keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
}
