<div id="headerInfo">
	<img src="/content/images/WreathLogowebsite2 copy.png" />
</div>

<div id="navbar">
	<nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
    	    <li><a href="#">Portfolio</a></li>
			<li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>



<div id="content">
</div>