<div id="minilogo">
    <a href="/"><img src="/content/images/minilogoblack2.png"></a>
</div>

<div id="navbar">

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.active {
background-color:transparent;
}
</style>

<ul>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#skills">Skills</a></li>
  <li><a href="#work">Work</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#home">Home</a></li>
</ul>
  
</div>

<div id="logo">
    <div class="center-div"></div>
    <img src="/content/images/JBUX Logo.png">
</div>

<div id="name">
    <p>Jessica Belicka | User Experience</p>
</div>
<div id="textAnimation">
    <svg class="intro go" viewBox="0 0 510 35">
        <text text-anchor="start" x="11" y="31" class="text text-stroke" clip-path="url(#text1)">Merging Humanity and Technology</text>
        <text text-anchor="start" x="10" y="30" class="text text-stroke text-stroke-2" clip-path="url(#text2)">Merging Humanity and Technology</text>
        <defs>
            <clipPath id="text1">
                <text text-anchor="start" x="11" y="31" class="text">Merging Humanity and Technology</text>
            </clipPath>
            <clipPath id="text2">
                <text text-anchor="start" x="10" y="30" class="text">Merging Humanity and Technology</text>
            </clipPath>
        </defs>
    </svg>
</div>

<div id="pagecontent">
</div>
    

<div id="portfoliobutton">
    <img src="/content/images/viewmywork.png">
</div>

<div id="aboutme">
    <div id="about">About</div>
    <div id="aboutmetext">
        <img id="headshot" src="/content/images/JBHeadshot.png">
        <p>Hi!<br><br>
        I am a UXer with a diverse background in behavioral science, social science, and design. I am relentlessly curious about human behavior and designing meaningful and intuitive products and experiences.  I am trained in ethnographic and qualitative research techniques and have a keen eye for observation to gain powerful user insights in the development process. My unique and diverse perspective allows for an out of the box thinking during development process. <br><br>

        I am also an avid traveler and enjoy all the new experiences I gain through traveling. I am also a lover of interior design. I have a passion for creating inviting spaces with an attention to detail. I also play and compose music with a concentration in piano and vocals, but I have also been known to get down on the guitar and a variety of orchestral instruments as well. I also love to nerd out about comedy, music, post apocalyptic scenarios, and all things science if you let me! <br><br>

        Thanks for stopping by! <br><br>

        -Jess</p>
    </div>
    
</div>

<div id="portfolio">
    <div id="portfolioheading"><p> Inspiration | Ideation | Iteration</p></div>
    <div id="process"> 
        <p class="approach"> My Approach to Human Centered Design </p>
    </div>
        <div class="processes">
            <div class="col"> 
            <i class="fa fa-search fa-4x" aria-hidden="true"></i>
                <p class="processheadings">Research</p>
                <p>Ten years spent in the field working with special needs population, with a focus on neurological skill development, I seek to understand behavior. I have been successful in immersing myself into people’s lives to create change. The central aim of my approach is to provide holistic insights into people’s views and actions through qualitative research and assessment in the nature of the location the users inhabit.
                </p>
        </div>
        <div class="col"> 
            <i class="fa fa-asterisk fa-4x" aria-hidden="true"></i>
                <p class="processheadings">Design</p>
                <p>I take direction from both empathy-based research and acceptable usability principals (heuristics) when designing. Implementing an iterative design processes to create user-centered products and experiences is key. Ideation offers both the fuel and foundation for building prototypes and innovative solutions. 
                </p>
            </div>
        </div>
        
        <div class="col"> 
        <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
        <p class="processheadings">Testing</p>
            <p>Successful and intuitive user testing starts with design. Testing instruments like surveys, questionnaires, and interviews need to be as intuitive and meaningful as the product itself. I have spent my career developing testing instruments for neurological, behavioral, and social sciences. Successful implementation of testing derives from being able to create a neutral and supported environment to ensure the time, budget, and results are achieved for clients and users. 
            </p>
        </div>
    </div>
</div>

<div id="casestudies">
    <div id="casestudyheading">
        <p>UX Case Studies </p>
    </div>
    <p></p><p>Coming Soon!</p><p></p>
</div>

<div id="toolkit">
    <div id="toolkitheading"><p>Skills</p></div>
    <div>
    <div class="col">
        <p class="processheadings">Professional Skills</p>
        <p>Interaction Design, Leadership and Management, Multi-disciplinary Collaboration, Persona and Scenario Development, Sketching, User Research and Testing, Interviews, and Wireframing.
        </p>
    </div>
    <div class="col">
        <p class="processheadings">Methodologies</p>
        <p>Affinity Diagramming, Card Sorting, Contextual Inquiry, Ethnography, Heuristic Evaluation, Storyboarding, Human Centered Design, and Qualitative/Quantitative Research and Assessment.
        </p>
    </div>
    <div class="col">
        <p class="processheadings">Programming and Languages</p>
        <p>Photoshop, Sketch, Microsoft Visual Studio, HTML, JavaScript, and CSS.
        </p>
    </div>
    </div>

    <div class="education1">
        <p class="cheat"> test  </p>
        <p class="education">Education</p>
        <p>University of Michigan</p>
        <p class="degrees">Micromasters User Experience Research and Design</p>
        <p>University of Toledo</p>
        <p class="degrees">Bachelor of Science-Magna Cum Laude</p>
    </div>

</div>
<div id="socialmedia">
    <a href="https://www.linkedin.com/in/jessica-belicka-a1b7307a/">
        <img src="/content/images/linkedin-logo1.png">
    </a>
    <a href="https://twitter.com/JessicaBelicka">
        <img src="/content/images/twitter-logo1.png" <="" a="">

</a></div><a href="https://twitter.com/JessicaBelicka">


<div>
    <p>© Jessica Belicka 2017</p>
</div>

<script type="text/javascript">
  $('.intro').attr('class', 'intro go');
</script>